// Colors

$text_blue: rgb(45, 49, 77);
$accent_color: rgb(226, 197, 71);
$bg_color: rgb(194, 221, 200);
$bg_dark: rgb(153, 191, 179);

// Fonts

$general_font: 'Montserrat', sans-serif;

// Font-weights

$font_semibold: 600;