@import 'variables', 'resets', 'responsive';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,600;1,400&display=swap');

body {
    height: 100vh;
    width: 100vw;
    background-color: $bg_color;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.nav_top {
    background-color: $bg_dark;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    min-width: 900px;
    flex-shrink: 0;


    a:hover {
        font-weight: $font_semibold;
        cursor: pointer;
    }

    &__logo {
        align-self: center;
        margin-left: 30px;

        img {
            height: 40px;
        }
    }

    &__links {
        display: flex;
        width: 400px;
        justify-content: space-between;
        align-items: center;
        margin-right: 30px;
        
        .active_login {
            border-bottom: 3px solid $accent_color;
            font-weight: $font_semibold;
        }
        
        li {
            height: 100%;
            width: 100px;

            a {
                height: 100%;
                display:flex;
                align-items: center;
                justify-content: center;
            }

            &:hover:not(.active_login) {
                border-bottom: 3px solid $accent_color;
            }

            &:active:not(.active_login) {
                font-size: smaller;
            }
        }
    }
}

.footer {
    background-color: $bg_dark;
    height: 100px;
    width: 100%;
    display: flex;
    min-width: 900px;
    position: relative;
    flex-shrink: 0;
    // bottom: 0;

    a:hover {
        font-weight: $font_semibold;
        cursor: pointer;
    }

    .nav_bottom {
        height: 100%;
        position: absolute;

        &__list {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-left: 30px;
            font-size: smaller;
        }
    }

    .links_copy {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;

        .social_links{
            width: 500px;

            &__list {
                display: flex;
                justify-content: space-around;
            }
        }
    }
    .copyright {
        font-size: smaller;
    }
}

.homepage_first {
    height: 100vh;
    width: 100%;

    // justify-content: flex-start;

    // .main_section {
    //     width: 100%;
    //     height: 100%;
    //     background-color: white;
    //     margin-left: 10px;
    //     min-height: 300px;
    //     border-radius: 10px;
    //     box-shadow: 5px 5px 5px 1px rgba(190, 190, 190, 0.5);
    // }
    .layout {
        // max-width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(6, 1fr);

        .article_card {
            background-color: $accent_color;
            margin: 5px;
            display: flex;
            position: relative;
            cursor: pointer;
            flex-direction: column;
            justify-content: space-between;
            line-height: 1.3;

            &__title, &__body, &__read {
                padding:  20px 15px;
                overflow: hidden;
                text-overflow: ellipsis;
                max-width: 100%;
                min-width: auto;
                line-height: normal;

                
            }

            &__read {
                color: purple;
                text-decoration: underline;
            }

            .image_bg {
                height: 100%;
                width: 100%;

                background-repeat: no-repeat;
                background-size: cover;
                position: absolute;
                z-index: 1;
                opacity: 1;

                &:hover {
                    z-index: 0;
                    opacity: 0.2;
                }

                &__img1 {
                    background-image: url("https://picsum.photos/800/300?random=1");
                }
                &__img2 {
                    background-image: url("https://picsum.photos/800/300?random=2");
                }
                &__img3 {
                    background-image: url("https://picsum.photos/800/300?random=3");
                }
                &__img4 {
                    background-image: url("https://picsum.photos/800/300?random=4");
                }
                &__img5 {
                    background-image: url("https://picsum.photos/800/300?random=5");
                }
                &__img6 {
                    background-image: url("https://picsum.photos/800/300?random=6");
                }
            }

            &:first-child {
                grid-column: 1 / 4;
                grid-row: 1 / 5;
            }

            &:nth-of-type(2) {
                grid-column: 4 / 6;
                grid-row: 1 / 4;
            }

            &:nth-of-type(3) {
                grid-column: 1 / 2;
                grid-row: 5 / 7;
            }

            &:nth-of-type(4) {
                grid-column: 2 / 3;
                grid-row: 5 / 7;
            }

            &:nth-of-type(5) {
                grid-column: 4 / 6;
                grid-row: 4 / 7;
            }

            &:last-child {
                grid-column: 3 / 4;
                grid-row: 5 / 7;
            }
        }
    }
}

// Login Page

.main_section__login {
    width: 25%;
    height: 700px;
    background-color: white;
    margin-left: 10px;
    min-height: 300px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px 1px rgba(190, 190, 190, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 25px auto;

    .profile_photo img {
        width: 250px;
    }

    .login_title {
        margin-bottom: 20px;
        font-weight: $font_semibold;
        font-size: larger;
    }

    .form {
        display: flex;
        flex-direction: column;
        align-items: center;

        h6 {
            margin-bottom: 10px;
        }

        &_list {
            padding: 10px 80px;
            border-radius: 5px;
            border: .5px solid lightblue;
            margin-bottom: 10px;
            
            &:hover {
                border: 2px solid lightblue;
            }
        }

        .button {
            background-color: $accent_color;
            padding: 10px 30px;
            border-radius: 10px;
            border: none;
            box-shadow: 0 1px 7px 1px lightblue;
            margin: 20px 0;
            
            &:hover {
                padding: 11px 32px;
                cursor: pointer;
            }
        }

        .small_links {
            color: #304D63;
            text-decoration: none;
            font-size: 11px;
            margin-bottom: 3px;
    // padding: 20px;

    
            &:hover {
                text-decoration: underline;
            }
        }
    }
}

// Stefan-Registration Page

.main_section__register {
    width: 25%;
    height: 700px;
    background-color: white;
    min-height: 300px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px 1px rgba(190, 190, 190, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 25px auto;
    // padding: 20px;

    .profile_photo img {
        width: 250px;
        margin-bottom: 20px;
    }

    .login_title {
        margin-bottom: 10px;
        font-weight: $font_semibold;
        font-size: larger;
    }

    .form {
        display: flex;
        flex-direction: column;
        align-items: center;
        

        h6 {
            margin-bottom: 10px;
        }

        &_list {
            padding: 10px 80px;
            border-radius: 5px;
            border: .5px solid lightblue;
            margin-bottom: 20px;
            width: 20em;

            &_file{
                padding:7.2px  5px;
                height: 40px;
                border-radius: 5px;
                border: .5px solid lightblue;
                margin-bottom: 10px;
                width: 20em;
            }
            
            &:hover {
                border: 2px solid lightblue;
            }
        }

        .button {
            background-color: $accent_color;
            padding: 10px 30px;
            border-radius: 10px;
            border: none;
            box-shadow: 0 1px 7px 1px lightblue;
            margin: 20px 0;
            
            &:hover {
                padding: 11px 32px;
                cursor: pointer;
            }
        }

        
    }
}

//Stefan-Profile page
.homepage {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
    //Profile Page sideabr

    .sidebar {
        width: 10%;
        height: 80%;
        background-color: white;
        margin-right: 10px;
        min-height: 300px;
        border-radius: 10px;
        box-shadow: 5px 5px 5px 1px rgba(190, 190, 190, 0.5);

        &_ul{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 25px;
            padding: 25px;
            

            .active_login {
                border-bottom: 3px solid $accent_color;
                font-weight: $font_semibold;
            }

            li {
                width: 100%;
                border-radius: 5px;
                box-shadow: 0 1px 7px 1px lightblue;
    
                a {
                    height: 80%;
                    display:flex;
                    align-items: center;
                    justify-content: center;
                    padding: 0 20%;

                }
    
                &:hover:not(.active_login) {
                    border-bottom: 3px solid $accent_color;
                }
    
                &:active:not(.active_login) {
                    font-size: smaller;
                }
            }
    }   }

    //Profile page main section

    .main_section {
        width: 60%;
        height: 80%;
        background-color: white;
        margin-left: 10px;
        padding: 20px 30px;
        min-height: 300px;
        border-radius: 10px;
        box-shadow: 5px 5px 5px 1px rgba(190, 190, 190, 0.5);
        display: flex;
        flex-direction: column;

        // Profile page main section hi

        &_top{
            display: flex;
            border-bottom: 4px solid $accent_color;

            &_text{
                // text-align: left;
                font-weight: $font_semibold;
                font-size: 40px;
                padding: 0 0 10px 0;
            }
        }

        // Profile page main content section

        &_content{
            
            padding: 25px  ;
            display: flex;
            flex-direction: row;
            gap: 25px;
            width: 100%;
            height: 100%;

            //Sirst element

                &_element1{
                    min-width: 30%
            }
                    .form{
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    justify-content: center;
                        
                    [type=text]{
                        height: 5em;
                        vertical-align: top;
                    }
                    
                    
                        &_list,&_list_file{
                    padding: 3px 0px;
                    border: 1px solid lightblue;
                    border-radius: 5px;
                    
                                &:hover {
                                border: 2px solid lightblue;
                                }
                            
                        }
                    }
                    .button {
                        background-color: $accent_color;
                        padding: 10px 30px;
                        border-radius: 10px;
                        border: none;
                        box-shadow: 0 1px 7px 1px lightblue;
                        margin: 10px 0;
                        
                        &:hover {
                            padding: 11px 32px;
                            cursor: pointer;
                        }
                    }
                    //Second element of main content
                &_element2{
                    min-width: 70%;

                    
                }

        }

    }
}

 //Stefan-Manage Contacts page main section

.manageContacts {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
    //Manage Contacts Page sideabr

    .sidebar {
        width: 10%;
        height: 80%;
        background-color: white;
        margin-right: 10px;
        min-height: 300px;
        border-radius: 10px;
        box-shadow: 5px 5px 5px 1px rgba(190, 190, 190, 0.5);

        &_ul{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 25px;
            padding: 25px;
            

            .active_login {
                border-bottom: 3px solid $accent_color;
                font-weight: $font_semibold;
            }

            li {
                width: 100%;
                border-radius: 5px;
                box-shadow: 0 1px 7px 1px lightblue;
                // min-width: 80%;
    
                a {
                    height: 80%;
                    display:flex;
                    align-items: center;
                    justify-content: center;
                    padding: 0 20%;

                }
    
                &:hover:not(.active_login) {
                    border-bottom: 3px solid $accent_color;
                }
    
                &:active:not(.active_login) {
                    font-size: smaller;
                }
            }
    }   }

    //Manage Contacts main section

    .main_section {
        width: 60%;
        height: 80%;
        background-color: white;
        margin-left: 10px;
        padding: 20px 30px;
        min-height: 300px;
        border-radius: 10px;
        box-shadow: 5px 5px 5px 1px rgba(190, 190, 190, 0.5);
        display: flex;
        flex-direction: column;

        //Manage Contacts main section 

        &_top{
            display: flex;
            border-bottom: 4px solid $accent_color;

            &_text{
                font-weight: $font_semibold;
                font-size: 40px;
                padding: 0 0 10px 0;
            }
        }

        //Manage Contacts main content section

        &_content{
            // height: 100%;
            padding: 10px 25px  ;
            display: flex;
            flex-direction: column;
            gap: 10px;

            //First element

                &_element1{

                    height: 10%;
                    border: 2px solid lightblue;
                    border-radius: 5px;
                    display:flex ;
                    justify-content: center;
                    align-items: center;

                        h1{
                        margin: 25px 10px;
                    }
                    
                    }
                    
                    //Second element 

                &_element2{
                    height: 80%;
                    border: 2px solid lightblue;
                    border-radius: 5px;
                    display:flex ;
                    flex-direction: column;
                    gap: 25px;

                        &_header{
                        margin: 25px auto 10px 25px ;
                    }
                    &_list{
                        margin: 0px 25px;

                        
                        li{
                            margin-bottom: 25px;

                            &:hover {
                                padding: 11px 32px;
                                cursor: pointer;
                                border: lightblue 2px solid;
                                border-radius: 5px;
                            }

                                img{
                                    vertical-align:middle;
                                border-radius: 50%;
                                margin: 0 20px;
                            }
                        }
                    }
                }

        }

    }
}

 //Stefan-Manage Security Page main section

.security {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
    //Security Page Page sideabr

    .sidebar {
        width: 10%;
        height: 80%;
        background-color: white;
        margin-right: 10px;
        min-height: 300px;
        border-radius: 10px;
        box-shadow: 5px 5px 5px 1px rgba(190, 190, 190, 0.5);

        &_ul{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 25px;
            padding: 25px;
            

            .active_login {
                border-bottom: 3px solid $accent_color;
                font-weight: $font_semibold;
            }

            li {
                width: 100%;
                border-radius: 5px;
                box-shadow: 0 1px 7px 1px lightblue;
    
                a {
                    height: 80%;
                    display:flex;
                    align-items: center;
                    justify-content: center;
                    padding: 0 20%;

                }
    
                &:hover:not(.active_login) {
                    border-bottom: 3px solid $accent_color;
                }
    
                &:active:not(.active_login) {
                    font-size: smaller;
                }
            }
    }   }

    //Security Page main section

    .main_section {
        width: 60%;
        height: 80%;
        background-color: white;
        margin-left: 10px;
        padding: 20px 30px;
        min-height: 300px;
        border-radius: 10px;
        box-shadow: 5px 5px 5px 1px rgba(190, 190, 190, 0.5);
        display: flex;
        flex-direction: column;

        //Security Page main section 

        &_top{
            display: flex;
            border-bottom: 4px solid $accent_color;

            &_text{
                font-weight: $font_semibold;
                font-size: 40px;
                padding: 0 0 10px 0;
            }
        }

        //Security Page main content section

        &_content{
            padding: 10px 25px  ;
            display: flex;
            flex-direction: col;
            gap: 25px;

            //First element

                &_element1{
                    border: 2px solid lightblue;
                    border-radius: 5px;
                    


                        .form{
                            margin: 25px;
                        display: flex;
                        flex-direction: column;
                        gap: 10px;
                        justify-content: center;
                            
                        [type=text]{
                            height: 5em;
                            vertical-align: top;
                        }
                        
                        
                            &_list,&_list_file{
                        padding: 3px 0px;
                        border: 1px solid lightblue;
                        border-radius: 5px;
                        
                                    &:hover {
                                    border: 2px solid lightblue;
                                    }
                                
                            }
                        }
                        .button {
                            background-color: $accent_color;
                            padding: 10px 30px;
                            border-radius: 10px;
                            border: none;
                            box-shadow: 0 1px 7px 1px lightblue;
                            margin: 10px 0;
                            
                            &:hover {
                                padding: 11px 32px;
                                cursor: pointer;
                            }
                        }
                    }
                    
                    //Second element 

                &_element2{
                    border: 2px solid lightblue;
                    border-radius: 5px;
                    display:flex ;
                    flex-direction: column;
                    gap: 25px;

                    &_wrapper{
                        margin: 25px;
                        gap: 10px;
                        display: flex;
                        flex-direction: column;

                        
                    }
                    .button-delete {
                        background-color: red;
                        padding: 10px 30px;
                        border-radius: 10px;
                        border: grey 2px solid;
                        box-shadow: 0 1px 7px 1px rgb(209, 150, 141);
                        margin: 10px 0px;
                        color: white;
                        
                        &:hover {
                            padding: 11px 32px;
                            cursor: pointer;
                        }
                    }
                }

        }

    }
}